{% load static %}
{% load i18n %} {% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="en" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
          rel="stylesheet">

    <title>Nothing Here</title>

    <!-- Bootstrap core CSS -->
    <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href=" {% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/templatemo-stand-blog.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/owl.css' %}">

    <style>

        @font-face {
            font-family: Ray;
            src: url("../../static/assets/fonts/Ray.ttf");
        }

        * {
            font-family: Ray, "Open Sans", sans-serif
        }
    </style>
    <!--
    
    TemplateMo 551 Stand Blog
    
    https://templatemo.com/tm-551-stand-blog
    
    -->
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Home:home' %}">{% trans 'Home' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories:all' %}">{% trans 'Categories' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Prices:price' %}">{% trans 'Prices' %}</a>
                    </li>
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'accounts:register' %}>{% trans 'Login/Register' %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'accounts:profile' request.user.id %}">{% trans 'Profile' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'accounts:logout' %}>{% trans 'Logout' %}</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="container">
                    {% get_current_language as CURRENT_LANGUAGE %}
                    {% get_available_languages as AVAILABLE_LANGUAGES %}
                    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                    <div class="languages">
                        <p>{% trans "Language" %}:</p>
                        <ul class="languages">
                            {% for language in languages %}
                                <li>
                                    <a href="/{{ language.code }}/"
                                            {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                                        {{ language.name_local }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    </nav>
</header>
